.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-icon-button {
    /* Background color of the button */
    border-radius: 50%; /* Make the button round */
    width: 40px; /* Adjust the button width as needed */
    height: 40px; /* Adjust the button height as needed */
  }
  
  .custom-toolbar{
    background-color: #214054;
  
  
  }
  .mat-toolbar{
    color: #f0f0f0 !important;
  }
  .mat-icon-button {
    color: #f0f0f0 !important;
    background-color: #f0f0f0; /* Background color of the button */
    border-radius: 50%; /* Make the button round */
    width: 40px; /* Adjust the button width as needed */
    height: 40px; /* Adjust the button height as needed */
    // box-shadow: 3px 3px 5px #b9b9b9, -3px -3px 5px #ffffff; /* Neumorphism shadow for buttons */
    transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
  }
  
  
  /* Style the button with the "neumorphic-button" class */
  .neumorphic-button {
    color: white;
   /* Background color of the button */
    border-radius: 10px; /* Adjust the border-radius for a softer look */
    // box-shadow: 5px 5px 10px #b9b9b9, -5px -5px 10px #ffffff; /* Neumorphism shadow for the specific button */
    // transition: box-shadow 0.3s ease-in-out; /* Add a smooth transition effect */
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      // Scale the button slightly on hover
      transform: scale(1.05);
    }
  }
  
  
  /* Adjust the button text color if needed */
  .neumorphic-button {
    color: white !important; /* Text color */
  }
  
  
  
  /* Add some spacing between the buttons */
  .custom-toolbar button:not(:last-child) {
    margin-right: 10px;
  }
  
  
  .notification-icon {
    color: #f0f0f0 !important;
    transition: transform 0.2s ease; /* Add smooth transition effect */
  
    &:hover {
      transform: scale(1.2); /* Scale the icon on hover */
    }
  }
  
  .mat-mdc-icon-button{
    color: white !important;
  }
  
  .icon-container {
    position: relative;
    display: inline-block;
  }
  
  .notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #ff4b5c;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 5px;
    font-weight: bold;
    line-height: 1;
  }
  
  .notification-menu {
    width: 350px;
    padding: 10px 0;
  }
  
  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0f4154;
  }
  
  .notification-list {
    max-height: 250px;
    overflow-y: auto;
    padding: 5px 10px;
  }
  
  .notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: inset;
    border-width: thin;
    padding: 3px 0px;
    border-inline: #0070fc;
    
    &:hover{
      background-color: #d7d6d7;
      padding: 2px 4px;
      transform: scale(1.05) ; 
      // transition: transform scale(0.99) 0.4s ease-in;
    }
  }
  
  .notification-item0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
  
    &:hover{
      background-color: #d7d6d7;
      padding: 2px 4px;
      transform: scale(1.05) ; 
      // transition: transform 0.4s ease-in;
    }
  }
  
  .no-notifications {
    text-align: center;
    padding: 15px 10px;
    color: #888;
    font-size: 14px;
  }
  
  .notification-btn {
    font-size: 12px;
    // text-transform: uppercase;
  }
  
  .notification-time {
    font-size: 0.7rem;
    color: gray;
    margin: 18px 0px 0;
  }
  
  .notification-truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }