<div class="sidebar" [ngClass]="{ 'showSidebar': isSidebarVisible, 'hideSidebar': !isSidebarVisible }" [@fadeInOut]>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="menu-icon fa-solid fa-house"></i>
          &nbsp; <span class="menu-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/user-list" routerLinkActive="active">
          <i class="menu-icon fa-solid fa-user-tie"></i>
          &nbsp; <span class="menu-text">Users</span>
        </a>
      </li>
      <li>
        <a routerLink="/invoice-result" routerLinkActive="active">
          <i class="menu-icon fa-solid fa-file-invoice"></i>
          &nbsp; <span class="menu-text">Invoices</span>
        </a>
      </li>
    </ul>
  </div>